<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CashCash{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/tech.css') }}">
    </head>
    <body class="cc-body">
        {% block body %}{% endblock %}
    </body>
</html>
