{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="cc-app">
    <main class="cc-main">
        <h1 class="cc-page-title">Connexion</h1>
        <p>Formulaire de connexion à ajouter ici plus tard.</p>
    </main>
</div>
{% endblock %}
