{% extends 'base.html.twig' %}

{% block title %}Historique des interventions{% endblock %}

{% block body %}
<div class="cc-app">
    <main class="cc-main">
        <h1 class="cc-page-title">Historique des interventions</h1>

        <p>Page à remplir avec la liste des anciennes interventions.</p>
    </main>
</div>
{% endblock %}
