{% extends 'base.html.twig' %}

{% block title %}Recherche client{% endblock %}

{% block body %}
<div class="cc-app">
    {% include 'tech/_header.html.twig' %}

    <main class="cc-main">
        <h1 class="cc-page-title">Recherche client</h1>

        <p>Interface de recherche client à implémenter.</p>
    </main>
</div>
{% endblock %}
