{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Statistiques{% endblock %}

{% block body %}
    <h1>Statistiques</h1>
{% endblock %}
        ]);
    }
    
    // ... (Le reste du contrôleur) ...
}